.App {
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input{
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
}

.card {
  align-items: right;
  justify-content: right;
}


.divider{  
  height:5px;
  width:5px;
  height:auto;
  display:inline-block;
}

#restLis {
  border:  1px solid
}

.buttonDropdown{
  background-color: black !important;
}